#{{ template_run_date }} - "{{ ansible_managed }}" via {{ template_uid }}@{{ template_host }}

all:
  children:
    all_server:
      children:
        server:
          hosts:
        server_local:
          hosts:
            vars:
              ansible_connection: local
              localhost: 127.0.0.1
