#{{ template_run_date }} - "{{ ansible_managed }}" via {{ template_uid }}@{{ template_host }}

hostname: deploiement{{ '%x' | format(item) }}
ansible_ssh_private_key_file: {{ chemin_dossier_ssh_serveur_user_vagrant }}/deploiement{{ '%x' | format(item) }}/virtualbox/private_key




